.VegaBaseHeader {
  --BaseHeader-height: 40px;
  display: grid;

  width: 100%;

  height: var(--BaseHeader-height);

  background: var(--color-bg-secondary);
  border-bottom: 1px solid var(--color-bg-border);
  grid-template-columns: 298px 2px minmax(200px, 1fr);
  column-gap: 6px;

  &__Delimiter {
    width: 2px;
    height: 18px;

    background-color: var(--color-bg-border);

    align-self: center;
  }

  &__MenuWrap {
    display: flex;
    align-items: center;

    min-width: 200px;
    max-width: 298px;
  }

  &__MenuTriggerText {
    overflow: hidden;

    width: 100%;

    white-space: nowrap;

    text-overflow: ellipsis;

    cursor: default;
  }

  &__Dropdown {
    --z-index-header-dropdown: 100;
    z-index: var(--z-index-header-dropdown);

    width: 240px;

    background-color: var(--color-bg-default);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: var(--control-radius);
    box-shadow: 0 4px 16px rgba(0, 32, 51, 0.18), 0 2px 2px rgba(0, 0, 0, 0.04);
  }

  &__Menu {
    margin: 0;
    padding: 12px 0;

    list-style: none;
  }

  &__MenuItem {
    padding: 4px 12px;

    width: 240px;

    &:hover {
      background-color: var(--color-bg-stripe);
    }

    &_disabled {
      pointer-events: none;
    }
  }

  &__MenuDelimiter {
    margin: 13px 12px;

    height: 1px;

    background-color: var(--color-bg-ghost);
  }

  &__MenuLink {
    text-decoration: none;
  }

  &__Nav {
    grid-column: 3;

    .VegaTabs__ScrollRight,
    .VegaTabs__ScrollLeft {
      height: calc(var(--BaseHeader-height) - 1px);
    }

    .TabsTab {
      /* Фикс для того, чтобы полоска активного таба находилась прям над бордером */
      margin-top: 1px;
    }

    .VegaTabs__ScrollButton {
      padding: var(--space-xs);
    }

    .VegaTabs__ScrollLeft {
      background-image: linear-gradient(
        to left,
        transparent 0,
        var(--color-bg-secondary) 24px,
        var(--color-bg-secondary) 100%
      );
    }

    .VegaTabs__ScrollRight {
      background-image: linear-gradient(
        to right,
        transparent 0,
        var(--color-bg-secondary) 24px,
        var(--color-bg-secondary) 100%
      );
    }
  }
}
