.VegaHeader {
  --header-height: 40px;
  display: flex;
  align-items: center;

  width: 100%;

  height: var(--header-height);

  background: var(--color-bg-secondary);
  border-bottom: 1px solid var(--color-bg-border);

  &__Title {
    --title-max-width: 204px;
    overflow: hidden;

    min-width: 60px;
    max-width: var(--title-max-width);

    white-space: nowrap;

    text-overflow: ellipsis;

    cursor: default;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: var(--title-max-width);
  }

  &__Delimiter {
    margin-right: 5px;
    margin-left: 12px;

    width: 1px;
    height: 18px;

    background: var(--color-control-bg-border-default);
    align-self: center;
  }

  &__Menu {
    flex-shrink: 0;
  }

  &__Nav {
    flex-shrink: 1;
    flex-grow: 1;

    min-width: 200px;
    height: 100%;

    .TabsTab {
      padding: 0;

      height: var(--header-height);
    }

    .VegaTabs__ScrollRight,
    .VegaTabs__ScrollLeft {
      height: calc(var(--header-height) - 1px);
    }

    .VegaTabs__InnerContent {
      padding: 0;
    }

    .VegaTabs__ScrollButton {
      padding: var(--space-xs);
    }

    .VegaTabs__ScrollLeft {
      background-image: linear-gradient(
        to left,
        transparent 0,
        var(--color-bg-secondary) 24px,
        var(--color-bg-secondary) 100%
      );
    }

    .VegaTabs__ScrollRight {
      background-image: linear-gradient(
        to right,
        transparent 0,
        var(--color-bg-secondary) 24px,
        var(--color-bg-secondary) 100%
      );
    }
  }
}
