.VegaAuthPage {
  --gpn-logo-height: 54px;
  display: flex;

  min-height: 100vh;

  background-color: var(--color-bg-default);

  &__Teaser {
    padding: 50px var(--space-5xl);

    display: none;

    @media (min-width: 1200px) {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 60%;
    }
  }

  &__FormContainer {
    @media (min-width: 1200px) {
      width: 40%;
    }
  }

  &__Form {
    width: 320px;
  }

  &__TeaserCarousel {
    max-width: calc(900px + calc(2 * (var(--control-height-l))));
  }

  &__Slide {
    position: relative;

    padding-bottom: 49%;

    max-width: 900px;
  }

  &__Image {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-position: center;
    background-size: cover;
  }

  .VegaCarousel__Caption {
    min-height: calc(var(--line-height-text-xs) * 2);
  }
}
